{% extends './base.html' %}
<!-- Load Custom Tags Start -->
{% load tshirts_tags %}
<!-- Load Custom Tags End -->

<!-- Title Start -->
{% block title %} Payment Failed {% endblock %}
<!-- Title End -->

<!-- Main Content Start -->
{% block content %}
<div class="conatiner">
  <div class="mt-5 p-5 bg-danger text-white">
    <h1>Payment Failed</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati sint
      exercitationem labore! Laboriosam, culpa quasi. Iure molestias aut iusto
      similique quidem dolores aliquid quos voluptatum voluptatem, asperiores
      sit? Optio, enim.
    </p>
    <h4>Try Again</h4>
  </div>
</div>
{% endblock %}
<!-- Main Content End -->
